{{ form_start(formFilter , {attr : {class : 'filter'}}) }}
    <div class="input-group mb-2">
        <span class="input-group-text">Titre</span>
        {{ form_widget(formFilter.titre, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">Auteur</span>
        {{ form_widget(formFilter.auteur, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">catégorie</span>
        {{ form_widget(formFilter.categories, {'attr': {'class': 'form-select'}}) }}
    </div>
    <div class="input-group">
        <span class="input-group-text">Prix</span>
        {{ form_widget(formFilter.prixMin, {'attr': {'class': 'form-control', 'placeholder': 'Minimum'}}) }}
        {{ form_widget(formFilter.prixMax, {'attr': {'class': 'form-control', 'placeholder': 'Maximum'}}) }}
    </div>
    <hr>
    <div class="d-flex justify-content-end gap-3">
        <button class="btn btn-primary" data-bs-dismiss="offcanvas" type="reset">Annuler</button>
        <button class="btn btn-success" data-bs-dismiss="offcanvas" type="submit">Filtrer</button>
    </div>

    </div>
{{ form_end(formFilter) }}

{# https://www.youtube.com/watch?v=4uYpFjfUUbc #}
{# https://grafikart.fr/tutoriels/filtre-produit-symfony-1211 #}