{% extends 'base.html.twig' %}
{% block body %}
	<div class="container-fluid py-4">
		<div class="row">

			<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
				<div class="card">
					<div class="card-header p-3 pt-2">
						<div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
							<i class="material-icons opacity-10">{{ dayOfWeek }}</i>
						</div>
						<div class="text-end pt-1">
							<p class="text-sm mb-0 text-capitalize">Today's Money</p>
							<h4 class="mb-0">{{ totalMoneyToday|number_format(2, '.', ',') }}
								TND</h4>
						</div>
					</div>
					<hr class="dark horizontal my-0">
					<div class="card-footer p-3">
						<p class="mb-0">
							{% if percentageChange < 0 %}
								<span class="text-danger text-sm font-weight-bolder">
								{% else %}
									<span class="text-success text-sm font-weight-bolder">
									{% endif %}
									{{ percentageChange|number_format(2, '.', ',') }}%
								</span>
								than last week</p>
						</p>
					</div>
				</div>
			</div>


			<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
				<div class="card">
					<div class="card-header p-3 pt-2">
						<div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
							<i class="material-icons opacity-10">{{ dayOfWeek }}</i>
						</div>
						<div class="text-end pt-1">
							<p class="text-sm mb-0 text-capitalize">Total Users</p>
							<h4 class="mb-0">{{ totalUsers|number_format(0, '.', ',') }}</h4>
						</div>
					</div>
					<hr class="dark horizontal my-0">
					<div class="card-footer p-3">
						<p class="mb-0">Our new users</p>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
				<div class="card">
					<div class="card-header p-3 pt-2">
						<div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
							<i class="material-icons opacity-10">{{ dayOfWeek }}</i>
						</div>
						<div class="text-end pt-1">
							<p class="text-sm mb-0 text-capitalize">Total Orders</p>
							<h4 class="mb-0">{{ totalOrders }}</h4>
						</div>
					</div>
					<hr class="dark horizontal my-0">
					<div class="card-footer p-3">
						<p class="mb-0">
							<span class="text-success text-sm font-weight-bolder">Keep Going !!!!!</span>
							
						</p>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-sm-6">
				<div class="card">
					<div class="card-header p-3 pt-2">
						<div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
							<i class="material-icons opacity-10">{{ dayOfWeek }}</i>
						</div>
						{% if mostOrderedBook %}
							<div class="text-end pt-1">
								<p class="text-sm mb-0 text-capitalize">Most Wanted</p>
								<h4 class="mb-0">{{ mostOrderedBook.getTitre() }}</h4>
							</div>
						{% else %}
							<div class="text-end pt-1">
								<p class="text-sm mb-0 text-capitalize">Most</p>
								<h4 class="mb-0">Not found</h4>
							</div>
						{% endif %}
					</div>
					<hr class="dark horizontal my-0">
					<div class="card-footer p-3">
						<p class="mb-0">Le dernier mise à jour
							<span class="text-success text-sm font-weight-bolder">{{ lastOrderDate|date('Y-m-d H:i:s') }}</span>
						</p>
					</div>
				</div>
			</div>


		</div>
	</div>

{% endblock %}
