<!DOCTYPE html>
{# date varible #}
{% set Date = date() %}
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome to SymBook
			{% endblock %}
		</title>
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/sketchy/bootstrap.min.css">
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch&amp;display=swap">
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
	</head>
	<body>
		{# NavBar #}
		<section class="mb-3">
			<div class="bg-dark py-2 d-flex justify-content-between px-5">
				<div class="d-flex gap-3">
					{% if app.user %}
						{# <a class="btn btn btn-outline-light rounded-2 py-1 px-3 fs-6 text-capitalize" type="button" href="{{ path('app_profile') }}">Profile</a> #}
					
						{% if is_granted('ROLE_ADMIN') %}
							{# dashboard #}
							<a class="btn btn btn-outline-light rounded-2 py-1 px-3 fs-6 text-capitalize" type="button" href="{{ path('app_dashboard') }}">Dashboard</a>
							<a class="btn btn btn-outline-light rounded-2 py-1 px-3 fs-6 text-capitalize" type="button" href="{{ path('admin_livres') }}">Liste des Livres</a>
							<a class="btn btn btn-outline-light rounded-2 py-1 px-3 fs-6 text-capitalize" type="button" href="{{ path('admin_categorie') }}">Liste des Categories</a>
							<a class="btn btn btn-outline-light rounded-2 py-1 px-3 fs-6 text-capitalize" type="button" href="{{ path('app_order_gestion') }}">Liste des Commandes</a>
							<a class="btn btn btn-outline-light rounded-2 py-1 px-3 fs-6 text-capitalize" type="button" href="{{ path('app_admin_gestion_user_index') }}">Liste des Utilisateur</a>
						{% endif %}

					{% endif %}
				</div>
				<div class="d-flex gap-3 align-items-center">
					{% if app.user %}
						{# Mes Commandes #}
						<a href="{{ path('app_order_index') }}">
							<i class="fas fa-truck fs-3 text-light"></i>
						</a>
						{# Panier #}
						{# profile #}
						<a href="{{ path('app_user') }}">
							<i class="fas fa-user-circle fs-3 text-light"></i>
						</a>

						<a class="btn btn btn-outline-light rounded-2 py-1 px-3 fs-6 text-capitalize" type="button" href="{{ path('app_logout') }}">Deconnecter</a>
					{% else %}
						<a class="btn btn btn-outline-light rounded-2 py-1 px-3 fs-6 text-capitalize" type="button" href="{{ path('app_register') }}">Inscrire</a>
						<a class="btn btn btn-outline-light rounded-2 py-1 px-3 fs-6 text-capitalize" type="button" href="{{ path('app_login') }}">Se Connecter</a>
					{% endif %}
				</div>
			</div>
			<nav class="navbar bg-body px-5 bg-primary shadow">
				<div class="container-fluid">
					<a class="navbar-brand fs-3 fw-bold text-primary" href="{{ path('app_home') }}">SymBook</a>
					<button class="btn rounded-5 px-3 bg-success btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#cart-canvas" aria-controls="cart-canvas">
						<span class="badge bg-primary rounded me-2" id="button-cart-Qte">0</span>
						<i class="fas fa-shopping-cart me-2"></i> 
						<span id="button-cart-total">0.000 TD</span>
					</button>
				</div>
			</nav>
		</section>
		{# Cart offcanvas #}
		{% include '_shoppingCart.html.twig' %}
		{# Page content #}
		<div class="container"> {% block body %}
	{% endblock %}</div>
		{# Footer #}
		<footer class="text-center bg-dark mt-3">
			<div class="container text-white py-4 py-lg-5">
				<p class="text-white mb-0">Copyright © {{Date | date('Y')}} SymBook</p>
			</div>
		</footer>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
