{% extends 'base.html.twig' %}
{% block body %}
    <section class="py-5">
        <div class="container">
            <div class="main-body">
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center d-flex flex-column align-items-center">
                                    <img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" width="150">
                                    <div class="mt-3">
                                        <h4>{{ user.nom|capitalize }}</h4>
                                        <p class="text-muted font-size-sm">{{ user.adresse }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            {{ form_start(formUser) }}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 col-md-4">
                                        <h6 class="mb-0">Nom Complet</h6>
                                    </div>
                                    <div class="col-sm-9 col-md-8 text-secondary">
                                        {{ form_widget(formUser.nom , {'attr': {'class': 'form-control','value' :  user.nom }}) }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3 col-md-4">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 col-md-8 text-secondary">
                                        {{ form_widget(formUser.email , {'attr': {'class': 'form-control','value' :  user.email}}) }}

                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3 col-md-4">
                                        <h6 class="mb-0">Phone</h6>
                                    </div>
                                    <div class="col-sm-9 col-md-8 text-secondary">
                                        {{ form_widget(formUser.telephone , {'attr': {'class': 'form-control','value' :  user.telephone}}) }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3 col-md-4">
                                        <h6 class="mb-0">Address</h6>
                                    </div>
                                    <div class="col-sm-9 col-md-8 text-secondary">
                                        {{ form_widget(formUser.adresse , {'attr': {'class': 'form-control','value' :  user.adresse}}) }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-info">Editer</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(formUser) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
